@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using DataLibrary.Models
@using System.Text.Json
@using WorkingWithEFCore.Data
@inject IWeatherForecastService ForecastService
@inject HttpClient Http

<h1>@forecast.Date.ToString("dd-MMM-yyyy") Weather Forecast</h1>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@forecast.Time.ToString("hh:mm:ss:f")</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>

        </tbody>
    </table>
}
<div class="container">
    <div class="row">
        <div class="col text-right">
            <button class="btn-primary border-danger" @onclick="SaveWeather">
                Save Weather Data
            </button>
        </div>
    </div>
</div>
@code {
    private WeatherForecast forecast;

    protected override void OnInitialized()
    {
        forecast = ForecastService.GetForecast(DateTime.Now);
    }
    private void SaveWeather()
    {
        Http.PostAsJsonAsync<WeatherForecast>("weatherforecasts", forecast);
    }
}
